[Unit]
Description=Unbound Podman Container
After=firewalld.service

[Service]
ExecStart=/usr/bin/podman run --name=unbound --ip 10.88.0.2 --label "io.containers.autoupdate=registry" mvance/unbound:latest
ExecStop=/usr/bin/podman stop -t 2 unbund
ExecStopPost=/usr/bin/podman rm unbound

[Install]
WantedBy=multi-user.target
