@define-color critical #6c7086; /* critical color */
@define-color warning #a6adc8;  /* warning color */
@define-color fgcolor #cdd6f4;  /* foreground color */

 /* CUSTOM */
@define-color bgcolor #000000;

 /* TOKYO NIGHT */
/* @define-color bgcolor #11121d; */

 /* LACKLUSTER */
/* @define-color bgcolor #080808; */

@define-color alert   #EE6D85;

/* CUSTOM */
@define-color accent1 #f38ba8;
@define-color accent2 #A7D65F;
@define-color accent3 #A7C65F;
@define-color accent4 #A485DD;
@define-color accent5 #648CE1;
@define-color accent6 #AAAAAA;

/* ROSE PINE */
/* @define-color accent1 #eb6f92; */
/* @define-color accent2 #9ccfd8; */
/* @define-color accent3 #f6c177; */
/* @define-color accent4 #31748f; */
/* @define-color accent5 #c4a7e7; */
/* @define-color accent6 #ebbcba; */

/* DRACULA */
/* @define-color accent1 #ff5555; */
/* @define-color accent2 #50fa7b; */
/* @define-color accent3 #f1fa8c; */
/* @define-color accent4 #bd93f9; */
/* @define-color accent5 #ff79c6; */
/* @define-color accent6 #8be9fd; */

/* MONOKAI PRO */
/* @define-color accent1 #ff6188; */
/* @define-color accent2 #a9dc76; */
/* @define-color accent3 #ffd866; */
/* @define-color accent4 #fc9867; */
/* @define-color accent5 #ab9df2; */
/* @define-color accent6 #78dce8; */

/* TOKYO NIGHT */
/* @define-color accent1 #ff7a93; */
/* @define-color accent2 #b9f27c; */
/* @define-color accent3 #ff9e64; */
/* @define-color accent4 #bb9af7; */
/* @define-color accent5 #7da6ff; */
/* @define-color accent6 #0db9d7; */

/* LACKLUSTER */
/* original */
/* @define-color accent1 #D70000; */
/* @define-color accent1 #ff7a93; */
/* @define-color accent2 #789978; */
/* @define-color accent3 #ffaa88; */
/* @define-color accent4 #7788AA; */
/* @define-color accent5 #7da6ff; */
/* @define-color accent6 #0db9d7; */

* {
    border: none;
    border-radius: 6px;
    font-family: CascadiaCode-Regular, Monaco;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @bgcolor;
    transition-property: background;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    background-color: transparent;
    color: #ffffff;
    min-width: 36px;
}

#workspaces button.active {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    background-color: @accent2;
    color: #000000;
    min-width: 36px;
}

#workspaces button:hover {
    background-color: @accent1;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.focused {
    background-color: @accent3;
    color: #ffffff;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: @warning;
}

#tags button {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    background-color: transparent;
    color: #ffffff;
    min-width: 36px;
}

#tags button.focused {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    background-color: @accent2;
    color: #000000;
    min-width: 36px;
}

#tags button.urgent {
    background-color: @warning;
}

#mode {
    background-color: @bgcolor;
    border-bottom: 3px solid #ffffff;
}

#clock,
/* #battery, */
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#language {
    padding: 1px 6px 0px 6px;
    margin: 4px 3px 5px 3px;
    color: @fgcolor;
    background-color: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

/* #battery { */
/*     color: @accent5; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #333333;
    }
}

/* #battery.critical:not(.charging) { 
    color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @critical;
    color: @white;
} */

label:focus {
    background-color: #000000;
}

#cpu {
    color: @accent1;
}

#memory {
    color: @accent1;
}

#temperature {
    color: @accent1;
}

#backlight {
    color: @accent2;
}

#network {
    color: @accent5;
}

#network.disconnected {
    color: @alert;
}

#pulseaudio {
    color: @accent4;
}

#pulseaudio.muted {
    color: #a0a0a0;
}

#temperature.critical {
    background-color: @critical;
}

#tray {
    /* background-color: #505050; */
}

#mpd {
    background-color: #a6e3a1;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f38ba8;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#custom-language {
    /* background: #bbccdd;
    color: #333333;
    padding: 0 5px;
    margin: 4px 3px 6px 3px; */
    color: @accent5;
    min-width: 16px;
}

#custom-separator {
    color: #606060;
    margin: 0 1px;
    padding-bottom: 5px;
}
